section {
  height: 100vh;
  // @include mid(true);
  .title-sub {
    @include subTitle(true);
  }
}
.centerFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centerFlexRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
// custom cursor style
// custom cursor style
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background: $white-cl;
  mix-blend-mode: difference;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
  transition: 0.1s;
}

.grow,
.grow-small {
  width: 100px;
  height: 100px;
  transition: all .2s;
}

.grow-small {
  width: 80px;
  height: 80px;
  transition: all .2s;
}

.disableScroll {
  position: fixed;
}
