section {
  height: 100vh;
  // @include mid(true);
  .title-sub {
    @include subTitle(true);
  }
}
.centerFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centerFlexRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
// custom cursor style
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background: $white-cl;
  mix-blend-mode: difference;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 10000;
  transform-origin: center center;
  @include transition(0.1s ease);
  .more {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include text(16px, ITBOLD, normal, $white-cl, none);
    mix-blend-mode: difference;
    @include transition(0.2s);
  }
  .activeMore {
    opacity: 1;
    @include transition(0.2s);
  }
}

.grow,
.grow-small {
  width: 100px;
  height: 100px;
  margin-left: -60px;
  margin-top: -60px;
  transform-origin: center center;
  @include transition(0.2s ease);
}

.grow-small {
  width: 80px;
  height: 80px;
  margin-left: -50px;
  margin-top: -50px;
  transform-origin: center center;
  @include transition(0.2s ease);
}

.disableScroll {
  position: fixed;
}
