// css header
header {
  width: calc(100vw / 12 * 10) !important;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  @include text(16px, ITBOLD, normal, $black-cl, none);
  border-bottom: 1px solid $white-heavy-cl;
  background-color: $white-cl !important;
  transition-delay: 0.4s;
  transition-duration: $t;
  .logo {
    a {
      cursor: none;
      text-decoration: none;
      color: $black-cl;
    }
  }
  .contact {
    a {
      cursor: none;
      text-decoration: none;
      color: $black-cl;
    }
  }
  z-index: 99;
}
.activeHeader {
  height: 100vh;
  background-color: $black-cl !important;
  @include text(16px, ITBOLD, normal, $white-cl, none);
  transition-delay: 0ms;
  transition-duration: $t;
}
@include xs {
}
@include md {
}
