@-ms-viewport {
  width: device-width;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

html,
body {
  cursor: none;
  width: 100%;
  // height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  max-width: $container-max-width;
  margin: auto;
  @include text($fz-text, $font-main, $lh-text, $text-cl, none);
  background: $white-cl;
  scroll-behavior: smooth;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  @include customscroll();

  .container {
    width: 100%;
    padding: 0 40px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-fluid {
    padding: 0 55px;

    @include xs {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

  .no-gap>.col,
  .no-gap>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

  .flickity-viewport {
    height: 100% !important;
    width: 100% !important;
  }

  .flickity-slider {
    height: 100%;
  }

  .menu-hidden {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: $white-cl;
    padding: 20px 20px 20px;
    visibility: hidden;
    transform: translateX(100%);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: $t;
    z-index: 10000;

    .logo {
      width: 150px;
      height: 50px;
      object-fit: cover;
      margin: 0 auto;
    }

    .social {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px;

      &-item {
        width: 30px;
        height: 30px;
        border: black solid 2px;
        border-radius: 50%;
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 16px;
            height: 16px;
            object-fit: contain;
            filter: invert(1);
          }
        }
      }
    }
  }

  @media (min-width: $xxs-min) {
    .container {
      max-width: 540px;
    }
  }

  @media (min-width: $xs-min) {
    .container {
      max-width: 720px;
    }
  }

  @media (min-width: $sm-min) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: $md-min) {
    .container {
      max-width: $container-width;
    }
  }

  .mainwrapper {
    width: 100%;
    margin: auto;
    @include visible;
  }

  @include lg {
    // CSS responsive large desktop
  }

  @include md {
    // CSS responsive desktop
  }

  @include sm {}

  @include xs {

    // CSS responsive mobile
    .loading-container:before {
      height: 2px;
    }

    .loading-text {
      line-height: normal;
    }

    .loading-text {
      margin-bottom: 15px;
    }

    body {
      .cursor {
        display: none;
      }

      .container {
        padding: 0 15px;
      }

      .grid {
        .main-body {
          width: 100vw;

          .header {
            width: calc(100vw - 60px) !important;
            height: 60px;

            .contact {
              display: none;
            }
          }

          .introduce {
            &_title {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;

              &-sub {
                font-size: 5vw;
              }

              &-main {
                font-size: 15vw;
                padding-right: 0;
              }

              &-about {
                margin-top: 15px;
                padding: 10px 25px;
                background-color: black;
                color: white;
                font-size: 14px;

                span::before {
                  display: none;
                }
              }
            }

            &_bottom {
              flex-direction: column-reverse;
              right: 50%;
              transform: translateX(50%);
              bottom: 20px;

              &-text {
                margin-top: 10px;
                margin-right: 0;
              }
            }
          }

          .project {
            .recent {
              text-align: center;
            }

            .reverse {
              flex-direction: column-reverse;
            }

            &_child {
              padding-top: 40px;
              border-bottom: 1px solid #d6d6d6;

              .img {
                height: 70vh;

                span {
                  font-size: 50px;
                }
              }

              .detail {
                align-items: center;
                margin: 20px 0 40px;
                flex-direction: column;

                .title {
                  font-size: 10vw;
                }

                .decrip {
                  font-size: 14px;
                }

                .viewMore {
                  font-size: 14px;
                }
              }

              .viewMore {
                padding: 10px 20px;
                background-color: #000000;

                &-text {
                  color: white;
                }

                &_arrow {
                  display: none;
                }
              }

            }
          }

          .contactSection {
            height: 100vh;

            .content {
              p {
                font-size: 12px;
              }

              .email {
                margin-top: 20px;
                font-size: 22px;

                &:hover {
                  transform: scale(1);
                }
              }

              .phone {
                font-size: 16px;

                &:hover {
                  font-size: 16px;

                }
              }

            }

            .signature {
              margin-top: 60px;
              width: 40vw;
            }
          }
        }

        .navbar {
          width: 60px;
          height: 60px;
          border-bottom: 1px solid #d6d6d6;
          border-left: none;
          transition-delay: $t;
          .menu {
            transform: translate(0%, -20%);

            &-child {
              text-align: center;
              margin-bottom: 20px;
              a {
                font-size: 40px;
                &::before {
                  display: none;
                }
              }
            }
          }

          .button {
            position: absolute;
            right: 15px;
            top: 15px;

            .title {
              display: none;
            }

            .hamburger {
              width: 30px;
              height: 30px;
            }
          }
        }

        .active {
          width: 100vw;
          height: 100vh;
          transition: $t;

          .menu {
            transform: translate(0%, -50%);
          }

          .button {
            position: absolute;
            right: 15px;
            top: 15px;
          }
        }

        footer {
          flex-direction: column;
          padding: 15px !important;

          .footer-left {
            margin-bottom: 10px;
          }
        }
      }

      .profile {
        .history {
          margin-top: 10vh;
          text-align: center;
          padding-top: 0;
          flex-wrap: wrap;
          height: 90vh;
          overflow: hidden;
        }

        &-content {
          .mainTitle p{
            font-size: 34px;
          }
          .name {
            font-size: 34px;
          }

          .role p {
            font-size: 12px;
          }

          .introduce p {
            font-size: 14px;
          }
        }
      }

      .activeInfo {
        .history {
          .avatar {
            height: 40vh;
          }

          .closeText {
            display: none;
          }
        }
      }
    }

    .activeHeader {
      background-color: white !important;
    }
  }

  @include xxs {
    // CSS responsive small mobile
  }

  @media (max-width: 500px) {}

  @include maxW(500px) {}
}

body::-webkit-scrollbar {
  display: none;
}