// css navigator (button)
.navbar {
  height: 100vh;
  width: 245px;
  position: fixed;
  right: 0;
  border-left: 1px solid $white-heavy-cl;
  @include transition($t cubic-bezier(0.65, 0.05, 0.36, 1));
  background-color: $white-cl;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-delay: .3s;
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 50%;
    transform: translate(0%, -50%);
    @include transition($t);
    &-child {
      cursor: none;
      margin-bottom: 40px;
      overflow: hidden;
      a {
        cursor: none;
        text-decoration: none;
        opacity: 0.5;
        @include transition($t);
        @include text(60px, ITBOLD, normal, $black-cl, none);
        position: relative;
        &:hover {
          opacity: 1;
          @include transition($t);
          text-shadow: 0px 24px 79px -31px rgba(0, 0, 0, 0.41);
          -webkit-text-shadow: 0px 24px 79px -31px rgba(0, 0, 0, 0.41);
          -moz-text-shadow: 0px 24px 79px -31px rgba(0, 0, 0, 0.41);
          &::before {
            transform: translateX(0%);
            @include transition(0.3s cubic-bezier(0.65, 0.05, 0.36, 1) 0.2s);
          }
        }
        &::before {
          position: absolute;
          bottom: 0;
          content: "";
          width: 100%;
          height: 5px;
          background-color: $black-cl;
          transform: translateX(-100%);
          @include transition(0.3s cubic-bezier(0.65, 0.05, 0.36, 1) 0.2s);
        }
      }
      .active-menu {
        opacity: 1;
        @include transition($t);
        text-shadow: 0px 24px 79px -31px rgba(0, 0, 0, 0.41);
        -webkit-text-shadow: 0px 24px 79px -31px rgba(0, 0, 0, 0.41);
        -moz-text-shadow: 0px 24px 79px -31px rgba(0, 0, 0, 0.41);
      }
      &:nth-child(3) {
        margin-bottom: 0px;
      }
    }
  }
  .button {
    cursor: none;
    @include transition($t);
    .hamburger {
      width: 40px;
      height: 40px;
      cursor: none;
      position: relative;
      overflow: hidden;
      span {
        position: absolute;
        content: "";
        width: 100%;
        height: 3.5px;
        background-color: $black-cl;
        border-radius: 3px;
        @include transition($t);
        &:nth-child(1) {
          top: 7px;
        }
        &:nth-child(2) {
          top: 14px;
          opacity: 1;
        }
        &:nth-child(3) {
          top: 21px;
        }
      }
    }
    .title {
      cursor: none;
      letter-spacing: -0.03em;
      @include text(16px, ITBOLD, 24px, $black-cl, none);
    }
  }
}
.active {
  width: 100vw;
  @include transition(width $t cubic-bezier(0.65, 0.05, 0.36, 1) 0.2s);
  .menu {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition-delay: 0.8s;
  }
  .button {
    margin-left: 40%;
    .hamburger {
      height: 40px;
      span {
        &:nth-child(1) {
          top: 14px;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          top: 7px;
          transform: translateX(-100px);
          opacity: 0;
        }
        &:nth-child(3) {
          top: 14px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
