body {
  // background: linear-gradient(to bottom, orange, darkblue);
  .grid {
    display: flex;
    background-color: #f8f8f8;
    .main-body {
      .container {
        transform: translateY(0);
        @include transition(1s);
      }
      .info {
        .text-wrapper {
          position: relative;
          display: inline-block;
          padding-right: 0.05em;
          overflow: hidden;
          margin-bottom: -10px;
        }
        .letter {
          display: inline-block;
        }
        .hello {
          position: relative;
          @include text(30px, ITBOLD, normal, $black-cl, none);
        }
        .mainTitle {
          position: relative;
          @include text(60px, ITBOLD, normal, $black-cl, none);
        }
        .role {
          padding: 5px 0 15px;
          @include text(20px, ITBOLD, normal, $black-cl, none);
        }
        .introduce {
          @include text(18px, ITREGULAR, 30px, $black-cl, none);
        }
        .image {
          height: 90vh;
          overflow: hidden;
          cursor: none;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1);
            @include transition($t ease-in-out);
          }
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            transform: scale(0.5);
            opacity: 0;
            z-index: 2;
            @include transition(0.6s ease-in-out);
          }
          &:hover {
            &::before {
              transform: scale(1);
              opacity: 1;
              @include transition(0.6s ease-in-out);
            }
            img {
              transform: scale(1.2);
              @include transition($t ease-in-out);
            }
          }
        }
      }
      .project {
        background-color: #f8f8f8;
        height: unset;
        .recent {
          text-align: right;
          @include text(25px, ITBOLD, normal, unset, none);
        }
        .reverse {
          .img span {
            left: 20px;
            right: unset;
          }
        }
        &_child {
          padding-top: 20px;
          .img {
            height: 100vh;
            overflow: hidden;
            position: relative;
            cursor: none;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            span {
              position: absolute;
              bottom: 10px;
              right: 20px;
              content: "";
              color: $white-cl;
              @include text(150px, ITBOLD, normal, $white-cl, none);
            }
          }
          .detail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .title {
              @include text(80px, ITBOLD, normal, $black-cl, none);
            }
            .decrip {
              @include text(16px, ITREGULAR, normal, $black-cl, none);
              margin-top: 10px;
            }
            .viewMore {
              justify-content: flex-start;
              cursor: none;
              @include text(16px, ITBOLD, normal, $black-cl, none);
              margin-top: 20px;
              &_arrow {
                width: 60px;
                height: 60px;
                border: 1px solid black;
                border-radius: 100%;
                position: relative;
                margin-left: 20px;
                img {
                  @include mid();
                }
              }
            }
          }
          .reverse {
            text-align: right;
            .viewMore {
              justify-content: flex-end;
            }
          }
          .viewMore {
            .viewMore_arrow {
              transform: translateX(0px);
              @include transition($t);
            }
            &:hover {
              .viewMore_arrow {
                transform: translateX(10px);
                @include transition($t);
              }
            }
          }
        }
        .content {
          background: transparent;
          /* width */
          &::-webkit-scrollbar {
            display: none;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            display: none;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            display: none;
          }

          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            display: none;
          }
        }
      }
      .contactSection {
        height: 70vh;
        .content {
          text-align: center;
          p {
            @include text(18px, ITREGULAR, normal, $black-cl, none);
          }
          .email {
            margin-top: 20px;
            cursor: none;
            @include text(50px, ITBLACK, normal, $black-cl, none);
            @include transition($t);
            position: relative;
            overflow: hidden;
            &::before {
              position: absolute;
              bottom: 0;
              content: "";
              width: 100%;
              height: 5px;
              background-color: $black-cl;
              transform: translateX(-100%);
              @include transition(0.3s cubic-bezier(0.65, 0.05, 0.36, 1) 0.2s);
            }
            &:hover {
              font-size: 60px;
              @include transition($t);
              &::before {
                transform: translateX(0%);
                @include transition(
                  0.3s cubic-bezier(0.65, 0.05, 0.36, 1) 0.2s
                );
              }
            }
          }
        }
      }
    }
  }
  .information {
    position: fixed;
    background-color: $black-cl;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1000;
    transform: translateY(100%);
    opacity: 0;
    @include transition($t cubic-bezier(0.41, 0.16, 0.64, 0.92) 0.05s);
    transition-delay: 0.3s;
    &-content {
      overflow-y: scroll;
      p {
        opacity: 0;
        transform: translateX(100%);
        padding-bottom: 10px;
        @include text(16px, ITREGULAR, normal, $white-cl, none);
        transition: $t;
      }
    }
    .history {
      height: 100vh;
      padding: 100px 0;
      overflow: hidden;
      flex-wrap: nowrap;
    }
    .avatar {
      opacity: 0;
      transform: translateX(-100%);
      @include transition($t);
      img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }
  }
  .activeInfo {
    transform: translateY(0%);
    opacity: 1;
    @include transition($t cubic-bezier(0.41, 0.16, 0.64, 0.92) 0.05s);
    .information {
      &-content {
        p {
          opacity: 1;
          transform: translateX(0%);
          transition-delay: $t;
        }
      }
    }
    .avatar {
      opacity: 1;
      transform: translateX(0%);
      @include transition($t);
      transition-delay: $t;
    }
  }
}
